.main__home {
    margin-top: 50px;
    height:100%;
    position: relative;
    padding:50px;
    background: #e9e9e9;
}
.main__home__nodata {
    margin-top: 50px;
    height:calc(100vh - 150px);
    position: relative;
    padding:50px;
    background: #e9e9e9;
}

.main__home__title{
    font-size:22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 5px;
}
.main__card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background: #e9e9e9;
    z-index: 1;
}
.card__main{
    position: relative;
    display: block;
    width:200px;
    height:160;
    box-shadow: 2px 2px 2px rgb(142,142,142),
    -1px -1px 10px rgb(142,142,142);
    border-radius:3px;
    margin:10px 10px;
    background: gray;
    overflow: hidden;
    cursor: pointer;
}
.card__head{
    position: relative;
    display:block;
    height:170px;
}
.card__head img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.card__content{
    display:flex;
    justify-content:center;
    align-items: center;
    height:40px;
    padding:5px;
}
.card__content .card__content__name{
    width:100%;
    color: #fff;
    font-size:15px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}